{{#each productDetails}}
<div class="box">
    <div class="box-img" style="opacity: 1;"><img src="/uploads/{{product_img}}" height="640" width="640" /></div>

    <div class="box-left" onclick="leftButton()">&lt;</div>
    <div class="box-right" onclick="rightButton()">&gt;</div>
</div>

<div id="productIntroduction">

    <h1>{{product_name}}</h1>
    <h5>{{product_desc}}</h5><br>
    <h4>Gender: {{gender}}</h4>
    <h4>Color: {{color}}</h4>
    <h4>Size: {{size}}</h4>
    <br>
    <button id="add_to_cart">add to cart</button>

</div>

{{/each}}