<div class = "small-container">
    <table class = "cart-table">
        <tr>
            <th class = "cartTh">Product</th>
            <th class = "cartTh">Quantity</th>
            <th class = "cartTh">Description</th>
        </tr>

        {{#each cart}}
        <tr>
            <td class = "cartTd">
                <div class = "cart-info">
                    <img src="/uploads/{{product_img}}" alt="">
                    <div>
                        <p>{{product_name}}</p>
                        <br>
                        <a href="">Remove</a>
                    </div>
                </div>
            </td>

            <td class="cartTd"><input type="number" value={{order_count}}></td>

            <td class="cartTd">
                <p>{{product_desc}}</p>
            </td>
        </tr>
        {{/each}}
    </table>

    <a href="/checkoutPage/{{order_id}}" class = "check-out-button">Check Out</a>
</div>
